<div class="mt-5"></div>
<footer class="footer pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="list-group-item disabled">Contact</a>
                <span class="list-group-item"><i class="fab fa-discord"></i> <a href="">Support Server</a></span>
                <span class="list-group-item"><i class="fab fa-youtube"></i> <a href="">YouTube</a></span>
                <span class="list-group-item"><i class="fab fa-instagram"></i> <a href="">Instagram</a></span>
            </div>
            <div class="col-sm">
                <a class="list-group-item disabled">Product</a>
                <span class="list-group-item" ><img src="/images/logo-32.png" alt="Chattly"> <a href="/app">Get Chatting</a></span>
                <span class="list-group-item"><i class="fas fa-credit-card"></i> <a href="/info/premium">Premium</a></span>
                <span class="list-group-item"><i class="fas fa-clipboard"></i> <a href="/info/changelog">Changelog</a></span>
            </div>
            <div class="col-sm">
                <a class="list-group-item disabled">Policies</a>
                <span class="list-group-item"><i class="fas fa-cookie"></i> <a href="/info/cookies">Cookies</a></span>
                <span class="list-group-item"><i class="fas fa-database"></i> <a href="/info/dataprivacy">Data Privacy</a></span>
                <span class="list-group-item"><i class="fas fa-clipboard"></i> <a href="/info/acknowledgements">Acknowledgements</a></span>
            </div>
        </div>
        <hr class="mt-3 mb-3" />
        <div class="row">
            <div class="col-sm text-right">
                <img src="/images/logo-128.png" alt="Chattly">
            </div>
            <div class="col-sm">
                <p class="display-1">Chattly</p>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</footer>