<nav id="nav">
	<li><a class="" id="navElt" href="/">Home</a></li>
	<li><a class="" id="navElt" href="/contactus">Contact Us</a></li>
	<li><a class="" id="navElt" href="/about">About</a></li>
	<li><a class="" id="navElt" href="/private">Private</a></li>
</nav>