<%- include("partials/navbar", {user:user}) %>

<div class="container">

    <div class="text-center">
        <p class="display-1">About</p>
    </div>
    <p class="display-3">The History of Chattly</p>
    <p>Chattly, well... laaa dee daa
    </p>
</div>

<%- include("partials/footer", {user:user}) %>
