<%- include("partials/underDevelopment") %>

<h1>Welcome!</h1>

<div class="pages">
  <div class="chat page">
    <div class="chatArea">
      <div class="messages"></div>
    </div>
    <input class="inputMessage" placeholder="Type here..." />
  </div>
  <div class="sticky">
    <div class="center">
      <div class="header-text">
        chattly.xyz
      </div>
      <div class="patreon-container"></div>
    </div>
  </div>
  <div class="login page">
    <div class="form">
      <h3 class="title">Nickname</h3>
      <input class="usernameInput" type="text" maxlength="50" />
    </div>
    <footer class="footer">
      Coded With ❤ By <a href="https://github.com/MichaelGrigoryan25/chattly-app">Michael Grigoryan</a>
    <footer>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>


<%- include("partials/footer") %>