<%- include("partials/navbar", {user:user}) %>

<div class="container">
    <div class="text-center mt-5">
        <p class="display-1">Chattly</p>
        <img src="/images/logo-anim-500.gif" alt="logo-animated" width="250vw">
        <p class="display-3">Your place to talk</p>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Chatting</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Something else?</a>
    </div>
</div>

<%- include("partials/footer", {user:user}) %>
