<div class="header">
	<img src="/images/CEDS_banner2.png" width="100%" />
</div>
<%- include("partials/navbar") %>

<h1>Welcome to CEDS!</h1>
<br />
<div class="row">
  <div class="column">
    <h2>Header (optional)</h2>
    <p>CEDS, Colne Engaine Amateur Dramatics Society, cont...</p>
  </div>
  
  <div class="column">
    <h2>Header (optional)</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque vitae tempus quam pellentesque nec nam aliquam sem. Ultrices gravida dictum fusce ut placerat orci nulla. Vitae nunc sed velit dignissim sodales ut eu sem integer. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Arcu risus quis varius quam quisque id diam vel quam. Amet est placerat in egestas erat. Eget aliquet nibh praesent tristique magna sit amet purus. Maecenas ultricies mi eget mauris pharetra. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Tellus rutrum tellus pellentesque eu tincidunt.</p>
  </div>
  
  <div class="column">
    <h2>Header (optional)</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque vitae tempus quam pellentesque nec nam aliquam sem. Ultrices gravida dictum fusce ut placerat orci nulla. Vitae nunc sed velit dignissim sodales ut eu sem integer. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Arcu risus quis varius quam quisque id diam vel quam. Amet est placerat in egestas erat. Eget aliquet nibh praesent tristique magna sit amet purus. Maecenas ultricies mi eget mauris pharetra. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Tellus rutrum tellus pellentesque eu tincidunt.</p>
  </div>
</div>



<%- include("partials/footer") %>