<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>chattly</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> 
  <!--<link rel="SHORTCUT ICON" href="./Favicon/favicon.ico">-->
</head>

<body>

	<%- body %>


</body>
</html>