@media screen and (max-width: 990px) {
    * {
        box-sizing: border-box;
    }
    html {
        font-weight: 300;
        font-family: 'Varela Round', sans-serif;
    }
    html, input {
        font-family: 'Varela Round', sans-serif;
    }
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Varela Round', sans-serif;
    }
    div {
        list-style: none;
        word-wrap: break-word;
        font-family: 'Varela Round', sans-serif;
    }
    /* Pages */
    .pages {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .page {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    /* Login Page */
    .login.page {
        background-color: white;
    }
    .login.page .form {
        height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 45%;
        width: 100%;
    }
    .login.page .form .usernameInput {
        background-color: transparent;
        border: none;
        border-bottom: 4px solid black;
        outline: none;
        padding-bottom: 15px;
        text-align: center;
        width: 70vw;
    }
    footer {
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
        padding: 6em;
    }
    footer a {
        text-decoration: none;
    }
    .login.page .title {
        font-size: 200%;
    }
    .login.page .usernameInput {
        font-size: 200%;
        letter-spacing: 3px;
    }
    .login.page .title, .login.page .usernameInput {
        color: black;
        font-weight: 100;
    }
    /* Chat page */
    .chat.page {
        display: none;
    }
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 2.5em;
        background-color: white;
    }
    .center {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        text-align: center;
        color: black;
    }
    .header-text {
        font-size: 2em;
    }
    /* Font */
    .messages {
        font-size: 150%;
    }
    .inputMessage {
        font-size: 100%;
    }
    .log {
        color: gray;
        font-size: 70%;
        margin: 5px;
        text-align: center;
    }
    /* Messages */
    .chatArea {
        height: 100%;
        padding-top: 85px;
        padding-bottom: 60px;
    }
    .messages {
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        padding: 10px 20px 10px 20px;
    }
    .message.typing .messageBody {
        color: gray;
    }
    .username {
        font-weight: 700;
        overflow: hidden;
        padding-right: 15px;
        text-align: right;
    }
    /* Input */
    .inputMessage {
        border: 2px solid black;
        border-radius: 2vw;
        bottom: 0;
        height: 60px;
        left: 0;
        outline: none;
        padding-left: 10px;
        right: 0;
        width: 100%;
    }
}